---
layout: default
title: Home
---

<p>
  <b><span style="color: red;">Open to Work</span> : I will be graduating on May 2024. I am looking for an industry R&D position in AI/ML.</b>
</p>

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">

  <h4>Bio</h4>
  <p>
  My name is Peizhao Li, pronounced as 'Pay-Jow Lee' and written as '李沛钊' in Chinese. 
  I am a fourth-year Ph.D. candidate at the Michtom School of Computer Science, Brandeis University, advised by Prof. Hongfu Liu.
  Prior to this, I completed my bachelor's degree at Beihang University. 
  Throughout my Ph.D. studies, I had the opportunity to work as a research intern at Google Research, Adobe Research, Mitsubishi Electric Research Laboratories (MERL), NEC Laboratories America, and also as a research fellow at Harvard University. 
  Starting in Fall 2023, I will be joining Amazon as an Applied Scientist Intern.
  </p>

  <p>
  I research Artificial Intelligence and Machine Learning. 
  I have worked on several topics such as Machine Learning Fairness, Multimodal Learning, Computer Vision, and Natural Language Processing. 
  The title of my thesis proposal is 'Harmonizing Fairness with Utility in Data and Learning.' 
  In my dissertation research, I develop methods from both computational and data-centric perspectives to make machine learning models fair and non-discriminatory, and simultaneously have no or minimal side effects on utility performance.
  </p>

  <p>
  Here is my latest Curriculum Vitae: <a href="assets/cv/CV_PeizhaoLi.pdf">PDF</a>
  </p>

</div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <!-- <p>Most recent publications on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>.<br/> -->
  <p>
  <sup>‡</sup> indicates equal contribution. Papers ordered chronologically.
  </p>

  <div class="paper">
    <p class="title"><b>Learning Antidote Data to Individual Unfairness</b></p>
    <p><b>Peizhao Li</b>, Ethan Xia, Hongfu Liu</p>
    <p><i>ICML'23: International Conference on Machine Learning, 2023</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openreview.net/forum?id=9U-cIq9P2p4" target="_blank">Paper</a>
        <a class="button" href="https://github.com/brandeis-machine-learning/AntiIndivFairness" target="_blank">Code</a>
    </div>
  </div>
  
  <div class="paper">
    <p class="title"><b>Characterizing the Influence of Graph Elements</b></p>
    <p>Zizhang Chen, <b>Peizhao Li</b>, Hongfu Liu, Pengyu Hong</p>
    <p><i>ICLR'23: International Conference on Learning Representations, 2023</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openreview.net/forum?id=51GXyzOKOp" target="_blank">Paper</a>
        <a class="button" href="https://github.com/Cyrus9721/Characterizing_graph_influence" target="_blank">Code</a>
    </div>
  </div>
  
  <div class="paper">
    <p class="title"><b>Robust Fair Clustering: A Novel Fairness Attack and Defense Framework</b></p>
    <p>Anshuman Chhabra, <b>Peizhao Li</b>, Prasant Mohapatra, Hongfu Liu</p>
    <p><i>ICLR'23: International Conference on Learning Representations, 2023</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openreview.net/forum?id=4LMIZY7gt7h" target="_blank">Paper</a>
        <a class="button" href="https://github.com/anshuman23/CFC" target="_blank">Code</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Achieving Fairness at No Utility Cost via Data Reweighing with Influence</b></p>
    <p><b>Peizhao Li</b>, Hongfu Liu</p>
    <p><i>ICML'22: International Conference on Machine Learning, 2022</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://proceedings.mlr.press/v162/li22p" target="_blank">Paper</a>
        <a class="button" href="https://github.com/brandeis-machine-learning/influence-fairness" target="_blank">Code</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Exploiting Temporal Relations on Radar Perception for Autonomous Driving</b></p>
    <p><b>Peizhao Li</b>, Pu Wang, Karl Berntorp, Hongfu Liu</p>
    <p><i>CVPR'22: IEEE/CVF Conference on Computer Vision and Pattern Recognition, 2022</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openaccess.thecvf.com/content/CVPR2022/html/Li_Exploiting_Temporal_Relations_on_Radar_Perception_for_Autonomous_Driving_CVPR_2022_paper.html" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Code Editing from Few Exemplars by Adaptive Multi-Extent Composition</b></p>
    <p><b>Peizhao Li</b>, Xuchao Zhang, Ziyu Yao, Wei Cheng, Haifeng Chen, Hongfu Liu</p>
    <p><i>ICLRW'22: Deep Learning For Code Workshop, International Conference on Learning Representations, 2022</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openreview.net/forum?id=HuWlaidbyZ9" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Applications of AlphaFold beyond Protein Structure Prediction</b></p>
    <p>Yuan Zhang, <b>Peizhao Li</b>, Feng Pan, Hongfu Liu, Pengyu Hong, Xiuwen Liu, Jinfeng Zhang</p>
    <p><i>bioRxiv'21, bioRxiv preprint, 2021</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://www.biorxiv.org/content/10.1101/2021.11.03.467194v2" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Deep Clustering based Fair Outlier Detection</b></p>
    <p>Hanyu Song, <b>Peizhao Li</b>, Hongfu Liu</p>
    <p><i>KDD'21: ACM SIGKDD Conference on Knowledge Discovery and Data Mining, 2021</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://dl.acm.org/doi/abs/10.1145/3447548.3467225" target="_blank">Paper</a>
        <a class="button" href="https://github.com/brandeis-machine-learning/FairOutlierDetection" target="_blank">Code</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>SelfDoc: Self-Supervised Document Representation Learning</b></p>
    <p><b>Peizhao Li</b>, Jiuxiang Gu, Jason Kuen, Vlad Morariu, Handong Zhao, Rajiv Jain, Varun Manjunatha, Hongfu Liu</p>
    <p><i>CVPR'21: IEEE/CVF Conference on Computer Vision and Pattern Recognition, 2021</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openaccess.thecvf.com/content/CVPR2021/html/Li_SelfDoc_Self-Supervised_Document_Representation_Learning_CVPR_2021_paper.html" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>On Dyadic Fairness: Exploring and Mitigating Bias in Graph Connections</b></p>
    <p><b>Peizhao Li</b>, Yifei Wang, Han Zhao, Pengyu Hong, Hongfu Liu</p>
    <p><i>ICLR'21: International Conference on Learning Representations, 2021</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openreview.net/forum?id=xgGS6PmzNq6" target="_blank">Paper</a>
        <a class="button" href="https://github.com/brandeis-machine-learning/FairAdj" target="_blank">Code</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Deep Fair Clustering for Visual Learning</b></p>
    <p><b>Peizhao Li</b>, Han Zhao, Hongfu Liu</p>
    <p><i>CVPR'20: IEEE/CVF Conference on Computer Vision and Pattern Recognition, 2020</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://openaccess.thecvf.com/content_CVPR_2020/html/Li_Deep_Fair_Clustering_for_Visual_Learning_CVPR_2020_paper.html" target="_blank">Paper</a>
        <a class="button" href="https://github.com/brandeis-machine-learning/DeepFairClustering" target="_blank">Code</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Mining Label Distribution Drift in Unsupervised Domain Adaptation</b></p>
    <p><b>Peizhao Li</b>, Zhengming Ding, Hongfu Liu</p>
    <p><i>arXiv'20: arXiv preprint, 2020</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://arxiv.org/abs/2006.09565" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Graph Neural Based End-to-end Data Association Framework for Online Multiple-Object Tracking</b></p>
    <p>Xiaolong Jiang<sup>‡</sup>, <b>Peizhao Li</b><sup>‡</sup>, Yanjing Li, Xiantong Zhen</p>
    <p><i>arXiv'19: arXiv preprint, 2019</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://arxiv.org/abs/1907.05315" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Two-Stream Multi-Task Network for Fashion Recognition</b></p>
    <p><b>Peizhao Li</b>, Yanjing Li, Xiaolong Jiang, Xiantong Zhen</p>
    <p><i>ICIP'19: IEEE International Conference on Image Processing, 2019</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://ieeexplore.ieee.org/abstract/document/8803394" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Multi-Scale Aggregation Network for Direct Face Alignment</b></p>
    <p><b>Peizhao Li</b><sup>‡</sup>, Anran Zhang<sup>‡</sup>, Lei Yue, Xiantong Zhen, Xianbin Cao</p>
    <p><i>WACV'19: IEEE Winter Conference on Applications of Computer Vision, 2019</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://ieeexplore.ieee.org/abstract/document/8659103" target="_blank">Paper</a>
    </div>
  </div>

  <div class="paper">
    <p class="title"><b>Model-free Tracking with Deep Appearance and Motion Features Integration</b></p>
    <p>Xiaolong Jiang, <b>Peizhao Li</b>, Xiantong Zhen, Xianbin Cao</p>
    <p><i>WACV'19: IEEE Winter Conference on Applications of Computer Vision, 2019</i></p>
     <div class="paper-buttons">
        <a class="button" href="https://ieeexplore.ieee.org/abstract/document/8658645" target="_blank">Paper</a>
    </div>
  </div>

  <!-- <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul> -->

  <!-- <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div> -->

    <!-- <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div> -->
  <!-- </div> -->
</div>
